@use '../components/utils' as u;
@use '../config/variables' as v;

.button {
    width: 106px;
    height: 32px;
    background: v.$color-bg;
    border: 1px solid v.$color-white;
    border-radius: 7px;
    padding: 6px 14px;
    @include u.text(u.rem(14), 400, v.$color-white, 17px, v.$primary-font);
    @include u.flex(center, center);
    text-align: center;
    cursor: pointer;
    &:hover {
        color: v.$color-blue;
        border: 1px solid v.$color-blue;
    }
    &:focus {
        color: v.$color-white;
        border: 1px solid v.$color-blue;
    }
    &--login {
        width: 48px;
        height: 21px;
        border: 1px solid v.$color-bg;
        padding: 0px;
        cursor: pointer;
        &:hover {
            color: v.$color-blue;
            border: 1px solid v.$color-bg;
        }
        &:focus {
            color: v.$color-white;
            border: 1px solid v.$color-blue;
        }
    }
    &--hero {
        width: 194px;
        height: 48px;
        background-color: v.$color-blue;
        border: 1px solid v.$color-blue;
        border-radius: 7px;
        @include u.flex(center, center);
        gap: 10px;
        padding: 12px 18px;
        @include u.text(u.rem(16), 400, v.$color-white, 19px, v.$primary-font);
        text-align: center;
        cursor: pointer;
        @include u.media('tablet') {
            position: relative;
            z-index: 5;
        }
        &:hover {
            color: v.$color-white;
            background-color: v.$color-blue-2;
            border: 1px solid v.$color-blue-2;
        }
        &:focus {
            color: v.$color-white;
            background-color: v.$color-blue;
            border: 1px solid v.$color-white;
        }
    }
    &--easy {
        width: 154px;
        height: 24px;
        border: 1px solid v.$color-bg;
        background-color: inherit;
        border-radius: 7px;
        @include u.flex(center, center);
        gap: 6px;
        padding: 2px 4px;
        @include u.text(u.rem(16), 400, v.$color-white, 19px, v.$primary-font);
        text-align: center;
        cursor: pointer;
        &:hover {
            color: v.$color-blue;
            border: 1px solid v.$color-bg;
        }
        &:focus {
            color: v.$color-white;
            border: 1px solid v.$color-blue;
        }
    }
    &--easy .icon {
        fill: v.$color-white;
    }
    &--easy:hover .icon {
        fill: v.$color-blue;
    }
    &--easy:focus .icon {
        fill: v.$color-white;
    }
    &--revolution {
        width: 154px;
        height: 24px;
        border: 1px solid v.$color-bg;
        background-color: inherit;
        border-radius: 7px;
        @include u.flex(center, center);
        gap: 6px;
        padding: 2px 4px;
        @include u.text(u.rem(16), 400, v.$color-white, 20px, v.$primary-font);
        text-align: center;
        cursor: pointer;
        &:hover {
            color: v.$color-blue;
            border: 1px solid v.$color-bg;
        }
        &:focus {
            color: v.$color-white;
            border: 1px solid v.$color-blue;
        }
    }
    &--revolution .icon {
        fill: v.$color-white;
    }
    &--revolution:hover .icon {
        fill: v.$color-blue;
    }
    &--revolution:focus .icon {
        fill: v.$color-white;
    }
    &--pro {
        width: 154px;
        height: 24px;
        border: 1px solid v.$color-bg;
        background-color: inherit;
        border-radius: 7px;
        @include u.flex(center, center);
        gap: 6px;
        padding: 2px 4px;
        @include u.text(u.rem(16), 400, v.$color-white, 19px, v.$primary-font);
        text-align: center;
        cursor: pointer;
        &:hover {
            color: v.$color-blue;
            border: 1px solid v.$color-bg;
        }
        &:focus {
            color: v.$color-white;
            border: 1px solid v.$color-blue;
        }
    }
    &--pro .icon {
        fill: v.$color-white;
    }
    &--pro:hover .icon {
        fill: v.$color-blue;
    }
    &--pro:focus .icon {
        fill: v.$color-white;
    }
    &--buy {
        width: 194px;
        height: 48px;
        border: 1px solid v.$color-blue;
        background-color: v.$color-blue;
        border-radius: 7px;
        @include u.flex(center, center);
        gap: 10px;
        padding: 12px 18px;
        @include u.text(u.rem(16), 400, v.$color-white, 19px, v.$primary-font);
        text-align: center;
        cursor: pointer;
        @include u.media('tablet') {
            position: relative;
            z-index: 5;
        }
        &:hover {
            color: v.$color-white;
            background-color: v.$color-blue-2;
            border: 1px solid v.$color-blue-2;
        }
        &:focus {
            color: v.$color-white;
            background-color: v.$color-blue;
            border: 1px solid v.$color-white;
        }
        @include u.media('tablet-wide') {
            height: 60px;
        }
    }
}