@use '../components/utils' as u;
@use '../config/variables' as v;

.card-review {
    padding: 28px;
    background: v.$gradient-card-review padding-box,
    v.$gradient-card-review-border border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    gap: 10px;
    &:hover {
        background: v.$gradient-card-review-padding padding-box,
        v.$gradient-card-review-border-hover border-box;
    }
    &__description {
        @include u.flex(stretch, flex-start, column);
    }
    &__title {
        @include u.flex(center, flex-start, column);
        gap: 4px;
        margin-bottom: 8px;
        @include u.media('tablet-wide') {
            @include u.flex(flex-start, center);
            gap: 8px;
            margin-bottom: 12px;
        }
    }
    &__name {
        @include u.text(u.rem(18), 500, v.$color-white, 21px, v.$primary-font);
    }
    &__link {
        @include u.text(u.rem(18), 400, v.$color-blue-link, 21px, v.$primary-font);
    }
    &__text {
        @include u.text(u.rem(16), 400, v.$color-white-gray, 160%, v.$primary-font);
    }
}