@use '../components/utils' as u;
@use '../config/variables' as v;

.features {
    // padding: 0px 16px 160px 16px;
    margin-top: 0px;
    @include u.media('phone-wide') {
        margin-top: 550px;
    }
    @include u.media('tablet-small') {
        margin-top: 560px;
    }
    @include u.media('tablet') {
        margin-top: 580px;
    }
    @include u.media('tablet-medium') {
        margin-top: 600px;
    }
    @include u.media('tablet-wide') {
        // padding: 0px 64px 174px 64px;
        margin-top: 0px;
    }
    &__header {
        @include u.flex(center, flex-start, column);
        padding: 0px 16px;
        @include u.media('tablet-wide') {
            @include u.flex(center, center, column);
            padding: 0px 64px;
        }
    }
    &__subtitle {
        margin-bottom: 24px;
    }
    &__title {
        margin-bottom: 73px;
        @include u.media('tablet-wide') {
        margin-bottom: 144px;
        }
    }
    &__cards {
        @include u.flex(flex-start, stretch, row, nowrap);
        gap: 46px;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        width: 100vw;
        padding: 25px 16px 0px 16px;
        @include u.media('tablet-wide') {
            gap: 125px;
            padding: 45px 64px 0px 64px;
        }
    }
    &__card {
        min-width: 287px;
        min-height: 289px;
        width: 100%;
        @include u.flex(flex-start, center, column);
        scroll-snap-align: start;
        @include u.media('tablet-wide') {
            min-width: 440px;
            min-height: 440px;
        }
    }
}