@use '../components/utils' as u;
@use '../config/variables' as v;

.features {
    padding-top: 80px;
    @include u.media('tablet-wide') {
        padding-top: 120px;
    }
    &__header {
        @include u.flex(center, flex-start, column);
        padding: 0px 16px;
        @include u.media('tablet-wide') {
            padding: 0px 64px;
        }
    }
    &__subtitle {
        margin-bottom: 24px;
        @include u.media('tablet-wide') {
            align-self: center;
        }
    }
    &__title {
        margin-bottom: 48px;
        @include u.media('tablet-wide') {
        margin-bottom: 98px;
        align-self: center;
        }
    }
    &__cards {
        @include u.flex(flex-start, stretch);
        flex-wrap: nowrap;
        gap: 46px;
        width: 100%;
        padding-top: 25px;
        cursor: pointer;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        overscroll-behavior-x: contain;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar { width: 0 !important };
        @include u.media('tablet-wide') {
            gap: 125px;
            padding-top: 45px;
        }
        @include u.media('tv') {
            @include u.flex(center, stretch);
        }
    }
    &__card {
        flex: 0 0 287px;
        min-height: 289px;
        @include u.flex(flex-start, center, column);
        scroll-snap-align: start;
        scroll-margin-left: 16px;
        @include u.media('tablet-wide') {
            flex: 0 0 440px;
            min-height: 440px;
            scroll-margin-left: 64px;
        }
    }
}

.card--scroll-first {
    margin-left: 16px;
    @include u.media('tablet-wide') {
        margin-left: 64px;
    }
}

.card--scroll-end {
    scroll-snap-align: end;
    scroll-margin-right: 46px;
    margin-right: 46px;
    @include u.media('tablet-wide') {
    scroll-margin-right: 109px;
    margin-right: 109px;
    }
}
