@use '../components/utils' as u;
@use '../config/variables' as v;

.hero {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    @include u.flex(center, flex-start);
    &__wrapper {
        position: relative;
        padding: 122px 0px 0px 16px;
        @include u.flex(flex-start, flex-start, column);
        @include u.media('tablet-wide') {
            @include u.flex(space-between, flex-start);
            padding: 126px 0px 0px 64px;
        }
    }
    &__info {
        @include u.flex(flex-start, flex-start, column);
        @include u.media('tablet-wide') {
            padding-top: 124px;
        }
    }
    &__title {
        width: 100%;
        max-width: 498px;
        margin-bottom: 24px;
        @include u.media('tablet-wide') {
            margin-bottom: 32px;
        }
    }
    &__subtitle {
        width: 100%;
        max-width: 392px;
        margin-bottom: 48px;
        @include u.media('tablet-wide') {
            margin-bottom: 50px;
        }
    }
    &__button {
        width: 194px;
        height: 48px;
        margin-bottom: 64px;
        @include u.media('tablet-wide') {
            margin-bottom: 0px;
        }
    }
    &__background {
        display: flex;
        align-self: flex-end;
    }
    &__main-image {
        width: 300px;
        height: 200px;
        @include u.media('phone-wide') {
            width: 370px;
            height: 250px;
        }
        @include u.media('tablet-small') {
            width: 450px;
            height: 320px;
        }
        @include u.media('tablet') {
            width: 550px;
            height: 380px;
        }
        @include u.media('tablet-medium') {
            width: 680px;
            height: 450px;
        }
        @include u.media('tablet-wide') {
            width: 600px;
            height: 400px;
        }
        @include u.media('desktop') {
            width: 740px;
            height: 540px;
        }
        @include u.media('desktop-wide') {
            width: 820px;
            height: 570px;
            }
    }
    &__main-img {
        width: inherit;
        height: inherit;
    }
    &__line-image {
        position: absolute;
        min-width: 100%;
        z-index: -1;
        top: 80vh;
        left: -10%;
        @include u.media('phone-wide') {
            top: 74vh;
        }
        @include u.media('tablet-medium') {
            top: 76vh;
            left: 0;
        }
        @include u.media('tablet-wide') {
            top: 50vh;
        }
    }
    &__line-img {
        width: 100%;
        height: inherit;
    }
}