@use '../components/utils' as u;
@use '../config/variables' as v;

.news {
    @include u.flex(center, flex-start, column);
    padding-bottom: 160px;
    @include u.media('tablet-wide') {
        @include u.flex(center, center, column);
        padding-bottom: 200px;
    }
    &__description {
        @include u.flex(center, flex-start, column);
        padding: 160px 16px 0px 16px;
        @include u.media('tablet-wide') {
            @include u.flex(center, center, column);
            padding: 200px 64px 0px 64px;
        }
    }
    &__subtitle {
        margin-bottom: 24px;
    }
    &__title {
        margin-bottom: 48px;
        @include u.media('tablet-wide') {
            margin-bottom: 98px;
        }
    }
    &__cards {
        @include u.flex(flex-start, stretch, row, nowrap);
        gap: 40px;
        width: 100%;
        cursor: pointer;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        overscroll-behavior-x: contain;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar { width: 0 !important };
        @include u.media('tablet-wide') {
            gap: 30px;
        }
    }
    &__card {
        width: 100%;
        flex: 0 0 329px;
        min-height: 374px;
        @include u.flex(flex-start, stretch,column);
        scroll-snap-align: start;
        scroll-margin-left: 16px;
        @include u.media('tablet-wide') {
            flex: 0 0 391px;
            min-height: 540px;
            scroll-margin-left: 64px;
        }
    }
}

.news--scroll-first {
    scroll-snap-align: start;
    scroll-margin-left: 16px;
    margin-left: 16px;
    @include u.media('tablet-wide') {
        scroll-margin-left: 64px;
        margin-left: 64px;
    }
}

.news--scroll-end {
    scroll-snap-align: end;
    scroll-margin-right: 16px;
    margin-right: 16px;
    @include u.media('tablet-wide') {
    scroll-margin-right: 64px;
    margin-right: 64px;
    }
}
