@use '../components/utils' as u;
@use '../config/variables' as v;

.news {
    padding: 0px 16px 160px 16px;
    @include u.flex(center, flex-start, column);
    @include u.media('tablet-wide') {
        padding: 0px 64px 200px 64px;
        @include u.flex(center, center, column);
    }
    &__description {
        @include u.flex(center, flex-start, column);
        @include u.media('tablet-wide') {
            @include u.flex(center, center, column);
        }
    }
    &__subtitle {
        width: 144px;
        margin-bottom: 24px;
    }
    &__title {
        width: 343px;
        margin-bottom: 48px;
        @include u.media('tablet-wide') {
            width: 498px;
            margin-bottom: 98px;
        }
    }
    &__cards {
        @include u.flex(space-between, stretch, row);
        gap: 40px;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        width: 100%;
        @include u.media('tablet-wide') {
            gap: 30px;
        }
        &__card {
            scroll-snap-align: center;
        }
    }
}

.card-news {
    min-width: 329px;
    min-height: 374px;
    padding: 24px;
    background: linear-gradient(173deg, v.$color-medium-black, v.$color-medium-black) padding-box,
    v.$gradient-card-news-border border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    @include u.flex(center, flex-start, column);
    gap: 16px;
    @include u.media('tablet-wide') {
        min-width: 394px;
        min-height: 540px;
        padding: 28px;
        gap: 26px;
    }
    &:hover {
        background: linear-gradient(173deg, v.$color-medium-black, v.$color-medium-black) padding-box,
        v.$gradient-card-review-border-hover border-box;
    }
    &__title {
        @include u.text(u.rem(20), 500, v.$color-white, 140%, v.$primary-font);
        @include u.media('tablet-wide') {
            @include u.text(u.rem(24), 500, v.$color-white, 140%, v.$primary-font);
        }
    }
    &__text {
        @include u.text(u.rem(16), 400, v.$color-white-gray, 160%, v.$primary-font);
        margin-bottom: 8px;
        @include u.media('tablet-wide') {
            @include u.text(u.rem(18), 400, v.$color-white-gray, 160%, v.$primary-font);
            margin-bottom: 4px;
        }
    }
    &__date {
        @include u.text(u.rem(16), 400, v.$color-gray, 140%, v.$primary-font);
        @include u.media('tablet-wide') {
            @include u.text(u.rem(14), 400, v.$color-gray, 140%, v.$primary-font);
            margin-bottom: 84px;
        }
    }
    &__button {
        width: 114px;
        height: 40px;
        background-color: v.$color-button-black;
        border: 1px solid v.$color-button-black;
        border-radius: 7px;
        @include u.flex(center, center);
        gap: 10px;
        padding: 8px 16px;
        @include u.text(u.rem(16), 400, v.$color-white, 20px, v.$primary-font);
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: v.$color-bg;
            border: 1px solid v.$color-white;
        }
        &:focus {
            background-color: v.$color-blue;
            border: 1px solid v.$color-white;
        }
        @include u.media('tablet-wide') {
            background-color: v.$color-bg;
            border: 1px solid v.$color-white;
            &:hover {
                color: v.$color-blue;
                border: 1px solid v.$color-blue;
            }
            &:focus {
                border: 1px solid v.$color-blue;
                background-color: v.$color-button-black;
            }
        }
    }
}