@use '../components/utils' as u;
@use '../config/variables' as v;

.pro {
    padding: 0px 16px 160px 16px;
    @include u.flex(flex-start, flex-start, column);
    @include u.media('tablet-wide') {
        padding: 0px 64px 200px 64px;
        @include u.flex(space-between, center);
    }
    &__info {
        @include u.flex(flex-start, flex-start, column);
    }
    &__title {
        width: 343px;
        margin-bottom: 24px;
        @include u.media('tablet-wide') {
            width: 440px;
            margin-bottom: 32px;
        }
    }
    &__subtitle {
        width: 343px;
        margin-bottom: 24px;
        @include u.media('tablet-wide') {
            width: 392px;
            margin-bottom: 40px;
        }
    }
    &__button {
        margin-bottom: 51px;
        @include u.media('tablet-wide') {
            margin-bottom: 0px;
        }
    }
    &__image {
        width: 287px;
        height: 313px;
        @include u.media('tablet-wide') {
            width: 440px;
            height: 480px;
        }
    }
    &__img {
        width: 287px;
        height: 313px;
        @include u.media('tablet-wide') {
            width: 440px;
            height: 480px;
        }
    }
}