@use '../components/utils' as u;
@use '../config/variables' as v;

.reviews {
    @include u.flex(center, flex-start, column);
    &__text {
        margin-bottom: 50px;
        padding: 0px 16px;
        @include u.flex(flex-start, center);
        @include u.media('tablet-wide') {
            padding: 0px 64px;
            margin-bottom: 56px;
        }
    }
    &__cards {
        @include u.flex(flex-start, stretch, row, nowrap);
        gap: 18px;
        width: 100%;
        cursor: pointer;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        overscroll-behavior-x: contain;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar { width: 0 !important };
        @include u.media('tablet-wide') {
            gap: 30px;
        }
        @include u.media('tv') {
            @include u.flex(center, stretch);
        }
    }
    &__card {
        width: 100%;
        flex: 0 0 327px;
        min-height: 318px;
        @include u.flex(flex-start, stretch);
        scroll-snap-align: start;
        scroll-margin-left: 16px;
        @include u.media('tablet-wide') {
            flex: 0 0 392px;
            min-height: 245px;
            scroll-margin-left: 64px;
        }
    }
}

.reviews--scroll-first {
    margin-left: 16px;
    scroll-margin-left: 16px;
    @include u.media('tablet-wide') {
        margin-left: 64px;
        scroll-margin-left: 64px;
    }
}

.reviews--scroll-end {
    scroll-snap-align: end;
    scroll-margin-right: 16px;
    margin-right: 16px;
    @include u.media('tablet-wide') {
    scroll-margin-right: 64px;
    margin-right: 64px;
    }
}
