@use '../components/utils' as u;
@use '../config/variables' as v;

.tools {
    position: relative;
    padding: 0px 0px 160px 0px;
    @include u.flex(flex-start, flex-start, column);
    @include u.media('tablet-wide') {
        padding: 0px 0px 200px 0px;
        @include u.flex(flex-start, center, column);
    }
    &__info {
        padding-left: 16px;
        padding-right: 16px;
        @include u.flex(flex-start, flex-start, column);
        @include u.media('tablet-wide') {
            @include u.flex(center, center, column);
            text-align: center;
            padding-left: 64px;
            padding-right: 64px;
        }
    }
    &__title {
        width: 343px;
        margin-bottom: 24px;
        @include u.media('tablet-wide') {
            width: 498px;
            margin-bottom: 32px;
        }
    }
    &__subtitle {
        width: 144px;
        margin-bottom: 24px;
    }
    &__subtitle-two {
        width: 343px;
        margin-bottom: 48px;
        @include u.media('tablet-wide') {
            width: 604px;
            margin-bottom: 70px;
        }
    }
    &__line {
        display: none;
        @include u.media('tablet-wide') {
            position: absolute;
            top: 309px;
            @include u.flex(center, center);
            width: 816px;
            height: 1px;
            background-color: v.$color-deep-gray;
        }
    }
}

.tabs {
    @include u.flex(center, flex-start, column);
    @include u.media('tablet-wide') {
        @include u.flex(center, center, column);
    }
    &__btns {
        padding-left: 16px;
        padding-right: 16px;
        @include u.flex(flex-start, center);
        gap: 48px;
        margin-bottom: 24px;
        @include u.media('tablet-wide') {
            padding-left: 64px;
            padding-right: 64px;
            @include u.flex(center, center);
            gap: 100px;
        }
    }
    &__btn {
        position: relative;
        width: 75px;
        height: 40px;
        border: none;
        border-bottom: 2px solid v.$color-bg;
        background-color: v.$color-bg;
        padding-bottom: 8px;
        @include u.text(u.rem(16), 700, v.$color-white, 19px, v.$primary-font);
        text-align: start;
        cursor: pointer;
        @include u.media('tablet-wide') {
            width: 154px;
            height: 48px;
            padding-bottom: 24px;
            @include u.text(u.rem(20), 500, v.$color-white, 24px, v.$primary-font);
            text-align: center;
        }
    }
    &__line {
        position: absolute;
        left: 0px;
        bottom: -8px;
        width: 96px;
        height: 2px;
        background: v.$gradient-tools;
        border-radius: 2px;
        display: none;
        @include u.media('tablet-wide') {
        left: 0;
        bottom: 0;
        width: 154px;
        height: 2px;
        }
    }
    &__line--active {
        display: block;
    }
    &__items {
        position: relative;
    }
    &__item {
        width: 100%;
        display: none;
        @keyframes fadeEffect {
            from {
                opacity: 0;
                transform: translateX(-50px);
            }
            to {
                opacity: 1;
                transform: translateX(0px);
            }
        }
        animation: fadeEffect 0.8s ease;
    }
    &__img {
        width: 100%;
    }
    &__item--active {
        display: block;
    }
}